{% extends 'base.html' %}
{% load static %}


{% block title %}
About us
{% endblock %}



{% block body %}

<div class="container  mt-3 mb-3">
    {% include 'navbar.html' %}
</div>

<section style="border-top: 1px solid rgb(3, 208, 208);">

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/">Home</a></li>
                          <li class="breadcrumb-item active text-secondary" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-5">
                        <h3 class="mt-5"  style="font-family: 'Rye', cursive;">Eight Years of Sharing Freedom</h3>
                        <p class="mt-4" style="text-align: justify;">
                            Trade-X has been sharing financial freedom with traders since 2015. 
                            In a continuous effort to give traders a more comfortable and safe experience, 
                            its experts have been improving the platform ensuring traders can enjoy and make 
                            use of that freedom to trade whenever and wherever they like.
                        </p>
                    </div>
                    <div class="col-lg-7">
                        <img src="{% static 'images/ab5.webp' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<!-- <section style="border-top: 1px solid rgb(3, 208, 208);">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active text-secondary" aria-current="page">About Us</li>
                    </ol>
                </nav>
                <img src="{% static 'images/ab5.webp' %}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <h3 class="text-center"  style="font-family: 'Rye', cursive;">Eight Years of Sharing Freedom</h3>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row">
                    <p class="mt-2" style="text-align: justify;">
                        Trade-X has been sharing financial freedom with traders since 2015. 
                        In a continuous effort to give traders a more comfortable and safe experience, 
                        its experts have been improving the platform ensuring traders can enjoy and make 
                        use of that freedom to trade whenever and wherever they like.
                    </p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>


</section>    -->

<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row mt-5">
                    <h3 class=""  style="font-family: 'Rye', cursive;">Trade-X  Family</h3>
                </div>
                <div class="row mt-5 text-info" >
                    <div class="col-lg-6 border">
                        <h4 class="mt-3">90 M+</h4>
                        <h6 class="mb-5">TRADER ACCOUNTS</h6>
                    </div>
                    <div class="col-lg-6 border">
                        <h4 class="mt-3">$ 16 M+</h4>
                        <h6 class="mb-5">AVERAGE MONTHLY PAYOUTS</h6>
                    </div>
                </div>
                <div class="row text-info">
                    <div class="col-lg-6 border">
                        <h4 class="mt-3">30M+</h4>
                        <h6 class="mb-5">MONTHLY TRANSACTIONS</h6>
                    </div>
                    <div class="col-lg-6 border">
                        <h4 class="mt-3">$211M</h4>
                        <h6 class="mb-5">MONTHLY TRADE TURNOVER</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <h3 style="font-family: 'Rye', cursive;">Our goal is to make the world of finance more accessible and attainable</h3>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <ul class="arrow-list">
                            <li><h5>Up to 5X leverage on intraday trading</h5></li>
                            <li><h5>Call & Trade facility</h5></li>
                            <li><h5 class="mb-5">Up to ₹20/order brokerage</h5></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="arrow-list">
                            <li>
                              <h5>Instant Withdrawal within 15 minutes</h5>
                            </li>
                            <li>
                              <h5>Fundamental Data for stock analysis</h5>
                            </li>
                            <li><h5>Margin, brokerage calculator and many more</h5></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <h3 class="mt-5" style="font-family: 'Rye', cursive;">Loved & Trusted by 1 crore+ Indians</h3>
                        <h6 class="mb-5" style="text-align: justify;">The truth that makes or breaks investors in their goal to prosperity</h6>
                        <div class="row">
                            <a href="{% url 'demat' %}"><button class="button1 mb-5"><span>Start trading </span></button></a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="container" style="background-color: rgb(20, 20, 20); border-radius: 10px;border: 1px solid rgb(3, 208, 208);">
                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active" data-bs-interval="3000" >
                                    <div class="row mt-2">
                                        <div class="col-lg-5">
                                            <div class="profile">
                                                <img src="{% static 'images/pp4.jpg' %}" class="img-fluid w-100 rounded-5 mt-3" alt="...">
                                                <h3 class="mt-2 text-center">John Doe</h3>
                                                <p class="mt-1 text-center">Professional Trader</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="bio">
                                                <i class="fa fa-quote-left mt-3"></i>
                                                <p style="text-align: justify;">
                                                    As a professional trader, I'm always on the lookout for reliable platforms to expand my network 
                                                    and find new opportunities. This trade website has exceeded my expectations. 
                                                    The vast community of traders and investors has allowed me to connect with like-minded individuals, 
                                                    exchange valuable insights, and grow my portfolio. I'm grateful for this platform's contribution 
                                                    to my success.
                                                </p><i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="carousel-item" data-bs-interval="3000">
                                    <div class="row mt-2">
                                        <div class="col-lg-5">
                                            <div class="profile">
                                                <img src="{% static 'images/pp5.jpg' %}" class="img-fluid w-100 rounded-5 mt-3" alt="...">
                                                <h3 class="mt-2 text-center"> Michael </h3>
                                                <p class="mt-1 text-center">Active Trader</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="bio">
                                                <i class="fa fa-quote-left mt-3"></i>
                                                <p style="text-align: justify;">
                                                    This trade website has simplified my trading experience tremendously. 
                                                    The intuitive trading interface allows me to execute trades seamlessly, 
                                                    and the order execution speed is impressive. The platform's advanced features, 
                                                    such as customizable watchlists and alerts, help me stay on top of market movements. 
                                                    I have full confidence in this website, and it has become an integral part of my trading routine.
                                                </p><i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>

                                  </div>
                                  <div class="carousel-item" data-bs-interval="3000">
                                    <div class="row mt-2">
                                        <div class="col-lg-5">
                                            <div class="profile">
                                                <img src="{% static 'images/pp6.jpg' %}" class="img-fluid w-100 rounded-5 mt-3" alt="...">
                                                <h3 class="mt-2 text-center">Mark</h3>
                                                <p class="mt-1 text-center">Professional Trader</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="bio">
                                                <i class="fa fa-quote-left mt-3"></i>
                                                <p style="text-align: justify;">
                                                    I've been using this trade website for my business for over a year now, 
                                                    and I couldn't be happier with the results. The platform is incredibly user-friendly,
                                                    and it has helped me connect with numerous potential clients. 
                                                    The website's features and tools have made my trading operations smooth and efficient. Highly recommended!
                                                </p><i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>

                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    







                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section id="footer">
    <div class="container-fluid" style="color: rgb(255, 255, 255); background-color: rgb(20, 20, 20);border-top: 1px solid rgb(3, 208, 208);">
      <div class="row mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="row mt-5">
            <div class="col-lg-3">
              <a class="navbar-brand text-info" href="#" style="font-family: 'Metamorphous', cursive;font-size: x-large;">Trade-X</a>
              <p class="mt-3" style="text-align: justify; color: white;">
          
                126 Arenja <br>
                Arcade Bldg, <br> 
                Abhudaya Bank, <br>
                Krishi Bazaar <br>
                Mumbai <br>
                Maharashtra <br>      
               India
              
              </p>
              <p class="mb-5"><i class="fab fa-instagram"></i> <i class="fab fa-facebook"></i> <i class="fab fa-telegram"></i> <i class="fab fa-twitter"></i></p>
              
            </div>
            <div class="col-lg-3">
              <h4 class="text-info">Company</h4>
              <a href=""><p class="mt-3">Home</p></a>
              <a href=""><p class="mt-0">About Us</p></a>
              <a href=""><p class="mt-0">Help Center</p></a>
              <a href=""><p class="mt-0 mb-5">Announcements</p></a>
            </div>
            <div class="col-lg-3">
              <h4 class="text-info">Services</h4>
              <a href=""><p class="mt-3">Demat account</p></a>
              <a href=""><p class="mt-0">Trading Account</p></a>
              <a href=""><p class="mt-0">Invest</p></a>
              <a href=""><p class="mt-0">Commodity Trading</p></a>
              <a href=""><p class="mt-0 mb-5">Equity Trading</p></a>
             
            </div>
            <div class="col-lg-3">
              <h4 class="text-info">Products</h4>
              <a href=""><p class="mt-3">Pro-Web</p></a>
              <a href=""><p class="mt-0">Pro-Mob</p></a>
              <a href=""><p class="mt-0">X-Learn</p></a>
              <a href=""><p class="mt-0">Chart-Tools</p></a>
              <a href=""><p class="mt-0 mb-5">Developer mode</p></a>
            </div>
            
          </div>
          <div class="row mt-3">
            <div class="container">
              <div class="col-lg-1"></div>
              <div class="col-lg-10">
                <div class="row">
                  <div class="col-lg-3">
                    <img src="{% static 'images/ps.png' %}" alt="" class="img-fluid mt-2">
                    <img src="{% static 'images/as.png' %}" alt="" class="img-fluid mt-2 mb-5">
                  </div>
                  <div class="col-lg-9">
                    <div class="container-fluid">
                      <p style="text-align: justify; font-size: small; color: rgb(122, 122, 122);">
                        The Transactions offered by this Website can be executed only by fully competent adults. 
                        Transactions with financial instruments offered on the Website involve substantial risk 
                        and trading may be very risky. If you make Transactions with the financial instruments offered on this Website, 
                        you might incur substantial losses or even lose everything in your Account. Before you decide to start 
                        Transactions with the financial instruments offered on the Website, you must review the Service Agreement 
                        and Risk Disclosure Information.The services on the Website are provided by Aollikus Limited, a licensed 
                        financial dealer, company number: 40131, registered address: 1276, Govant Building, Kumul Highway, Port Vila, 
                        Republic of Vanuatu. Saledo Global LLC, registered at First Floor, First St. Vincent Bank Ltd Building, P.O. 
                        Box 1574, James Street, Kingstown, St. Vincent & the Grenadines provides services to clients trading in digital 
                        assets and to clients with accounts nominated in digital assets. The companies are fully licensed to perform its 
                        activities by the laws of that country. Partner companies: VISEPOINT LIMITED (registration No. C 94716, registered 
                        at 54, Immakulata, Triq il-Mina ta’ Hompesch, ZABBAR ZBR 9016) and MARTIQUE LIMITED (registration No. HE 43318, registered 
                        at Loutrakiou, 5 Chara Venezia Building, 1st floor, office 101, Strovolos, 2027, Nicosia, Cyprus), provide content and perform 
                        operational management of the business.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  
</section>
  



<style>
    body{
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    a{
      text-decoration: none;
      color: white;
    }
</style>
<style>
    ul.arrow-list {
      list-style: none;
      padding-left: 20px; /* Adjust as needed */
    }
  
    ul.arrow-list li {
      background-image: url("{% static 'images/arrow.png' %}"); /* Replace with your image path */
      background-repeat: no-repeat;
      padding-left: 20px; /* Adjust as needed */
      margin-bottom: 5px; /* Adjust as needed */
    }
</style>

<style>
    .button1 {
      border-radius: 4px;
      background-color: rgb(0, 187, 255);
      border: none;
      color: #000000;
      text-align: center;
      font-size: 16px;
      padding: 5px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    .button1 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button1 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button1:hover span {
      padding-right: 20px;
    }
    
    .button1:hover span:after {
      opacity: 1;
      right: 0;
    }
    
</style>


{% endblock %}