{% extends 'base.html' %}
{% load static %}


{% block title %}
Help Center
{% endblock %}



{% block body %}

<div class="container  mt-3 mb-3 ">
    {% include 'navbar.html' %}
</div>


<section style="border-top: 1px solid rgb(3, 208, 208);">

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active text-secondary" aria-current="page">Help Center</li>
                    </ol>
                </nav>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <h3 class="mt-5" style="font-family: 'Rye', cursive;">Have a query ?</h3>
                        <p class="mt-2" style="text-align: justify;">Our X-Learn has answers for most questions. Please feel free to use these feature and get solutions to your issues</p>
                        <div class="row">
                            <a href="{% url 'xlearn' %}"><button class="button1 mb-5"><span>View Now</span></button></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="{% static 'images/hc1.webp' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>



</section>

<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row">
                    <h3 style="font-family: 'Rye', cursive;">Frequently Asked Questions</h3>
                </div>
                <div class="row mt-5">
                    <div class="responsive">
                        <table class="table table-responsive table-hover table-dark">
                            <tbody>
                                <td><a href="{% url 'solution' %}">How to trade in F&O?</a></td>
                                 
                            </tbody>
                            <tbody>
                                <td>How can I change or reset my trading password?</td>
                                
                            </tbody>
                            <tbody>
                                <td>How can I unblock my account?</td>
                                
                            </tbody>
                            <tbody>
                                <td>How do I activate Commodities/Futures/Options segments in my Trade-X account?</td>
                                
                            </tbody>
                            <tbody>
                                <td>What is the Settlement Cycle when I sell my holdings?</td>
                                
                            </tbody>
                            <tbody>
                                <td>How to place a simple order?</td>
                                
                            </tbody>
                            <tbody>
                                <td>How can I generate a new CDSL TPIN?</td>
                            </tbody>
                            <tbody>
                                <td>How can I check my previous ledger details?</td>
                            </tbody>
                            <tbody>
                                <td>How to download the profit and loss report from the Keystone?</td>
                            </tbody>
                            <tbody>
                                <td>How is the average price calculated for Delivery positions?</td>
                            </tbody>
                            <tbody>
                                <td>Why is my balance negative in the Keystone ledger reports?</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section>
  <div class="container">
    <div class="row mt-2 mb-5">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="row mt-5">
          <div class="col-lg-6">
            <h3 class="mt-5" style="font-family: 'Rye', cursive;">Still Confused</h3>
            <h5>Feel Free to Contact Us</h5>
            <p style="text-align: justify;">Fill the form and we will get you as soon as possible.</p>
          </div>

          <div class="col-lg-6">
            <div class="row ">
              <h3 class="text-center">Get in Touch</h3>
              <div class="form">
                <input type="text" class="form-control mt-1 mb-1" placeholder="Name" style="background-color: rgb(86, 86, 86);color: black; border: 1px solid rgb(3, 189, 189);">
                <input type="email" class="form-control mt-1 mb-1" placeholder="Email" style="background-color: rgb(86, 86, 86);color: black;border: 1px solid rgb(3, 189, 189);">
                <input type="number" class="form-control mt-1 mb-1" placeholder="Mobile Number" style="background-color: rgb(86, 86, 86);color: black;border: 1px solid rgb(3, 189, 189);">
                <input type="Text" class="form-control mt-1 mb-1" placeholder="Facing issue/Help" style="background-color: rgb(86, 86, 86);color: black;border: 1px solid rgb(3, 189, 189);">
                <div class="row mt-2">
                  <div class="col-lg-6">
                    <input type="submit" value="Submit" class="btn btn-outline-info">
                  </div>
                </div>




              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<section id="footer">
    <div class="container-fluid" style="color: rgb(255, 255, 255); background-color: rgb(20, 20, 20);border-top: 1px solid rgb(3, 208, 208);">
      <div class="row mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="row mt-5">
            <div class="col-lg-3">
              <a class="navbar-brand text-info" href="#" style="font-family: 'Metamorphous', cursive;font-size: x-large;">Trade-X</a>
              <p class="mt-3" style="text-align: justify; color: white;">

                1st Floor - Thapasya Building <br>
                Kakkanad, Cochin <br>
                Phone: +91 974 663 2202 <br>
                Email: Info@Altostechnologies.In <br>
          
               
              
              </p>
              <p class="mb-5"><i class="fab fa-instagram"></i> <i class="fab fa-facebook"></i> <i class="fab fa-telegram"></i> <i class="fab fa-twitter"></i></p>
              
            </div>
            <div class="col-lg-3">
              <h4 class="text-info">Company</h4>
              <a href=""><p class="mt-3">Home</p></a>
              <a href=""><p class="mt-0">About Us</p></a>
              <a href=""><p class="mt-0">Help Center</p></a>
              <a href=""><p class="mt-0 mb-5">Announcements</p></a>
            </div>
            <div class="col-lg-3">
              <h4 class="text-info">Services</h4>
              <a href=""><p class="mt-3">Demat account</p></a>
              <a href=""><p class="mt-0">Trading Account</p></a>
              <a href=""><p class="mt-0">Invest</p></a>
              <a href=""><p class="mt-0">Commodity Trading</p></a>
              <a href=""><p class="mt-0 mb-5">Equity Trading</p></a>
             
            </div>
            <div class="col-lg-3">
              <h4 class="text-info">Products</h4>
              <a href=""><p class="mt-3">Pro-Web</p></a>
              <a href=""><p class="mt-0">Pro-Mob</p></a>
              <a href=""><p class="mt-0">X-Learn</p></a>
              <a href=""><p class="mt-0">Chart-Tools</p></a>
              <a href=""><p class="mt-0 mb-5">Developer mode</p></a>
            </div>
            
          </div>
          <div class="row mt-3">
            <div class="container">
              <div class="col-lg-1"></div>
              <div class="col-lg-10">
                <div class="row">
                  <div class="col-lg-3">
                    <img src="{% static 'images/ps.png' %}" alt="" class="img-fluid mt-2">
                    <img src="{% static 'images/as.png' %}" alt="" class="img-fluid mt-2 mb-5">
                  </div>
                  <div class="col-lg-9">
                    <div class="container-fluid">
                      <p style="text-align: justify; font-size: small; color: rgb(122, 122, 122);">
                        The Transactions offered by this Website can be executed only by fully competent adults. 
                        Transactions with financial instruments offered on the Website involve substantial risk 
                        and trading may be very risky. If you make Transactions with the financial instruments offered on this Website, 
                        you might incur substantial losses or even lose everything in your Account. Before you decide to start 
                        Transactions with the financial instruments offered on the Website, you must review the Service Agreement 
                        and Risk Disclosure Information.The services on the Website are provided by Aollikus Limited, a licensed 
                        financial dealer, company number: 40131, registered address: 1276, Govant Building, Kumul Highway, Port Vila, 
                        Republic of Vanuatu. Saledo Global LLC, registered at First Floor, First St. Vincent Bank Ltd Building, P.O. 
                        Box 1574, James Street, Kingstown, St. Vincent & the Grenadines provides services to clients trading in digital 
                        assets and to clients with accounts nominated in digital assets. The companies are fully licensed to perform its 
                        activities by the laws of that country. Partner companies: VISEPOINT LIMITED (registration No. C 94716, registered 
                        at 54, Immakulata, Triq il-Mina ta’ Hompesch, ZABBAR ZBR 9016) and MARTIQUE LIMITED (registration No. HE 43318, registered 
                        at Loutrakiou, 5 Chara Venezia Building, 1st floor, office 101, Strovolos, 2027, Nicosia, Cyprus), provide content and perform 
                        operational management of the business.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  
</section>





<style>
    body{
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    a{
      text-decoration: none;
      color: white;
    }
</style>
<style>
    .button1 {
      border-radius: 4px;
      background-color: rgb(0, 187, 255);
      border: none;
      color: #000000;
      text-align: center;
      font-size: 16px;
      padding: 5px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    .button1 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button1 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button1:hover span {
      padding-right: 20px;
    }
    
    .button1:hover span:after {
      opacity: 1;
      right: 0;
    }
    
</style>

{% endblock %}