{% load static %}

<nav class="navbar navbar-expand-lg" data-bs-theme="dark" >
    <div class="container-fluid">
      <a class="navbar-brand text-info" href="#" style="font-family: 'Fugaz One', cursive;font-size: x-large;">Trade-X</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  href="#">X-Learn <span class="badge" style="font-size:xx-small;">New</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'signin' %}">Help Center</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <a class="btn1" href="{% url 'signin' %}"><button class="btn btn-outline-info  btn-sm sp" type="button" >Open a Demat Account</button></a>

          <a class="btn1" href="{% url 'signin' %}"><button class="btn btn-outline-info btn-sm sp  mx-3" type="button" >Sign In</button></a>
        </form>
        <div>
          

        </div>
        
        
        
      </div>
    </div>
  </nav>

<style>
  body{
    font-family: 'Lora', serif;
       
  }
  .search-container {
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .search-input {
    padding-left: 30px; /* Adjust the padding to make space for the icon */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid blueviolet;
      
  }
    
  li.nav-item a.nav-link{
    color: rgb(255, 255, 255);
  }
  li.nav-item a.nav-link:hover{
    color: rgb(0, 187, 255);
  }
  .badge {
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
  }
  
</style>
    